@charset "UTF-8";

/*  Todas as demaais mídia */

/*  Typical Device Breakpoints
-------------------------------
Pequenas telas: -360px
Celulares: de 360px até 760px
Tablet: 760px até 992px 
Descktop: 992px até 1200px 
Grandes telas: acima de 1200px
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* @media */

:root {
    --cor0: #ffffff;
    --cor1: #EEE8EC;
    --cor2: #9A9BDA;
    --cor3: #8C52F1;
    --cor4: #F3C44C;
    --cor5: #7B5800;
}

header#cabecario {
    width: 100%;
    background-color: var(--cor3);
    padding: 12px;
    
}

nav#prins {
    width: 100%;
    display: flex;
}

nav#prins > ul {
    display: flex;
    list-style: none;
}