/* Laptops: 769px até 1024px  */

/* ////////////////////////////////////////Seção 1:introdução */

nav#prins > h1 {
    font-size: 27px;
}

nav#prins ul {
    margin-top: 10px;
}

nav#prins a {
    font-size: 17px;
}

nav#prins > button {
    height: 40px;
    width: 90px;
    font-size: 14px;
    border-radius: 10px;
}
header#cabecario {
    height: 476px;
}

main div#apres h1 {
    width: 66%;
    font-size: 50px;
}

main div#apres p {
    width: 390px;
    font-size: 16px;
}

main div#apres button {
    height: 48px;
    width: 150px;
    margin-top: 20px;
    margin-right: .5vw;
    font-size: 16px;
    border-radius: 13px;
}

main div#apres a {
    font-size: 19px;
}
main div#apres a::before {
    margin: 5px;
    font-size: 40px;
    position: relative;
    top: 4px;
}

main div#img {
    height: 380px;
    width: 45%;
    border-radius: 250px 250px 90px 90px;
    position: absolute;
    inset: 290px 20px 0px 360px;
}

main div#img img {
    height: 540px;
    width: 330px;
}

div#marcas {
    height: 100px;
}

/* ////////////////////////////////////////Seção 2: Programas */

section#saud div#title {
    margin: 26px 0px 60px 16px;
    font-size:20px;
}


section#saud menu {
    height: 200px;
    display: flex;
}

section#saud div.programs {
    height: 178px;
    width: 19.5vw;
}
section#saud div#d1 {
    border-radius: 30px 0px 0px 30px;
}
section#saud div#d2 {
    border-radius: 0px 0px 0px 0px;
}
section#saud div#d3 {
    border-radius: 0px 0px 0px 0px;
}
section#saud div#d4 {
    border-radius: 0px 30px 30px 0px;
}

section#saud div#d1:hover {
    width: 19.5vw;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d2:hover {
    width: 19.5vw;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d3:hover {
    width: 19.5vw;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d4:hover {
    width: 19.5vw;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}

 /* //////////////////////////////////////////Seção 3: Ajuda  */

section#help {
    background-color: var(--cor0);
    display: flex;
    flex-direction: row;
}

 section#help picture#window {
    height: 350px;
    width: 57%;
    
    position: relative;
    top: 86px;
}
 section#help picture#window img {
    height: 700px;
    width: 320px;
}

section#help article {
    margin-left: 1vw;
}

section#help article div#value h2 {
    font-size: 27px;
    font-weight: bolder;
}

section#help article div#value p {
    width: 80%;
    font-size: 16px;
}

section#help article menu {
    display: flex;
    flex-direction: row;
}
section#help article menu > section {
    display: flex;
}

section#help article menu div.option {
    height: 136px;
    width: 97%;
    margin-left: 10px;
    padding: 30px 18px 20px;
    background-color: var(--cor7);
    border-radius: 18px;
    outline: 2px solid white;
}

section#help article menu section div.option span {
    bottom: 116px;
}

/* /////////////////////////////////////////////////////Seção 4: Inicio */

section#started main {
    height: 320px;
}

section#started main h2 {
    font-size: 27px;
}

section#started main p {
    font-size: 16px;
}


section#started main button {
    height: 48px;
    width: 170px;
    margin: 20px 0px 0px;
    font-size: 16px;
    border-radius: 13px;
}

