@charset "UTF-8";

/*  Todas as demaais mídia */

/*  Typical Device Breakpoints
-------------------------------
Mobile: 320px até 480px
Tablets: 481px até 768px
Laptops: 769px até 1024px 
Descktops: 1025px até 1200px 
Grandes telas: acima de 1201px
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor0: #ffffff;
    --cor1: #EEE8EC;
    --cor2: #9A9BDA;
    --cor3: #8C52F1;
    --cor4: #F3C44C;
    --cor5: #7B5800;
    --cor6: #5C4B80;
    --cor7: #EFE8F2;
}

body {
    background-color: hsl(270, 2%, 99%);
}


/* ////////////////////////////////////////Seção 1:introdução */

nav#prins {
    padding: 10px 7vw 2px 10vw;
    background-color: var(--cor3);
    display: flex;
    justify-content: space-between;

}
nav#prins > h1 {
    display: inline-block;
    margin-right: 17px;
    margin-top: 2px;
    font-size: 20px;
    color: var(--cor4);
}
nav#prins > ul {
    display: flex;  
    list-style: none;
    justify-content: space-around;
    width: 50vw;
}
nav#prins a {
    color: var(--cor0);
    font-size: 8px;
    text-decoration: none;
}
nav#prins  > button {
    height: 27px;
    width: 70px;
    margin-top: 2px;
    padding: 2px;
    background-color: yellow;
    color: red;
    font-size: 9px;
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid pink;
    
}

header#cabecario {
    background-color: var(--cor3);
    padding: 20px 10vw 5px 10vw;
}


main {
    color: var(--cor0);
}

main > div#apres {
    margin: 0px 0px 45px 0px;
    padding: 0px 15px;
}

main > div#apres > h1 {
    width: 260px;
    /* margin: auto; */
    padding-top: 20px;
    text-align: left;
}
main > div#apres span {
    color: var(--cor4);
}

main > div#apres p {
    width: 260px;
    /* margin: auto; */
    padding: 16px 0px;
    padding-right: 70px;
    font-size: 13px;
    text-align: justify;
}

main > div#apres button {
    margin-right: 9vw;
    height: 20px;
    width: 75px;
    background-color: yellow;
    color: red;
    font-size: 7px;
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid pink;

}

main > div#apres a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 7px;
    
}
main > div#apres a::before {
    content: '▶️';
    margin: 5px;
    font-size: 20px;
    position: relative;
    top: 4px;
    
}
main  div#img {
    height: 240px;
    width: 77%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: var(--cor2);
    border: 10px solid var(--cor0);
    border-radius: 33% 33% 40px 40px;
    overflow: visible;
    transform: translateX(23px);
}
main > div#img img {
    height:290px;
    width: 211px;
}

div#marcas {
    height: 70px;
    padding-left: 15px;
    display: flex;
    background-image: linear-gradient(to right, var(--cor0),var(--cor4), var(--cor5));
}
div#marcas img {
    margin: 5px 18px 5px 0px;
}

/* ////////////////////////////////////////Seção 2: Programas */

section#saud {
    height: 400px;
    padding: 20px 10vw 5px 10vw;
    background-color: var(--cor0);
}

section#saud div#title {
    height: 23px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 28px;

}
section#saud div#title h2 {
    color: var(--cor6);
}
section#saud section#btn button {
    background-color: white;
    color: #5820b9;
    border-color: rgba(141, 109, 109, 0.436);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

section#saud menu {
    height: 290px;
    width: 80vw;
    margin: auto;
    overflow: visible;
    
    border: 11px solid white;
    border-radius: 40px;
    background-color: var(--cor4);
    outline: 2px solid rgb(255, 255, 255);
    box-shadow: -3px 3px 20px 2px rgba(0, 0, 255, 0.232);
}

section#saud article {
    overflow: visible;
    display: flex;
}

section#saud div.programs {
    width: 39vw;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6930cb;
    color: #ffffff;
    font-size: 13px;
}
section#saud div#d1 {
    border-radius: 30px 0px 0px 0px;
}
section#saud div#d2 {
    border-radius: 0px 30px 0px 0px;
}
section#saud div#d3 {
    border-radius: 0px 0px 0px 30px;
}
section#saud div#d4 {
    border-radius: 0px 0px 30px 0px;
}

section#saud div#d1:hover {
    width: 230px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
    transition-timing-function: ease;
}
section#saud div#d2:hover {
    width: 230px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
    transition-timing-function: ease;
}
section#saud div#d3:hover {
    width: 230px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
    transition-timing-function: ease;
}
section#saud div#d4:hover {
    width: 230px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
    transition-timing-function: ease;
}

section#saud div.programs a {
    display: none;
    color: #ffffff;
    text-decoration: none;
}
section#saud div.programs a::after {
    content: '▶️';
}

section#saud span {
    height: 37px;
    width: 37px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5820b9;
    border: 2px solid rgba(255, 255, 255, 0.518);
    border-radius: 10px;
    font-size: 23;
}

section#saud p {
    width: 140px;
    font-size: 11px;
    text-align: justify;
}

 /* //////////////////////////////////////////Seção 3: Ajuda  */

section#help {
    padding: 10px 7vw 2px 10vw;

}

section#help picture#window {
    height: 240px;
    width: 77%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: var(--cor2);
    border: 10px solid var(--cor0);
    border-radius: 33% 33% 40px 40px;
    overflow: visible;
    box-shadow: -3px 3px 20px 2px rgba(0, 0, 255, 0.232);
}
section#help picture#window img {
    height:290px;
    width: 211px;
}

section#help article div#value h2 {
    margin-top: 28px;
    color: var(--cor6);
}

section#help article div#value p {
    font-size: 13px;
    margin: 12px 0px;
}

section#help article menu, section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section#help article menu div.option {
    position: relative;
    margin-top: 23px;
    padding: 30px 18px 20px;
    background-color: var(--cor7);
    border-radius: 18px;
    outline: 2px solid white;
}
section#help article menu div.option:hover {
    box-shadow: 16px -17px 13px 1px rgba(27, 27, 40, 0.232);
    transition-duration: .3s;
    transform: translate(-17px, 15px);
    transition-timing-function: ease;
}

section#help article menu section div.option span {
    position: absolute;
    bottom: 65px;
    height: 37px;
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c6bf8;
    color: white;
    border-radius: 10px;
    font-size: 23px;
}

section#help article menu section div.option h3{
    margin-bottom: 4px;
    color: var(--cor6);
    font-size: 16px;
    font-weight: bolder;
}
section#help article menu div.option p{
    font-size: 13px;
}

/* /////////////////////////////////////////////////////Seção 4: Inicio */

section#started {
    margin: 35px 0px 40px;
    padding: 10px 7vw 2px 10vw;
}

section#started main {
    height: 290px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor3);
    margin: auto;
    overflow: visible;
    border: 11px solid white;
    border-radius: 40px;
    background-color: var(--cor3);
    outline: 2px solid rgb(255, 255, 255);
    box-shadow: -3px 3px 20px 2px rgba(0, 0, 255, 0.232);
}
section#started main span.material-icons {
    height: 37px;
    width: 37px;
    margin: 28px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background-color: #5820b9;
    border: 2px solid rgba(255, 255, 255, 0.518);
    border-radius: 10px;
    font-size: 23;
}
section#started main h2 {
    margin-bottom: 9px;
    text-align: center;
}
section#started main h2 > span {
    color: var(--cor4);
}
section#started main p {
    width: 96%;
    font-size: 13px;
    text-align: center;
    line-height: 19px;
}
section#started main button {
    height: 40px;
    width: 120px;
    margin-right: initial;
    margin: 23px 0px 0px;
    background-color: yellow;
    color: red;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid pink;
}









