/* Tablets: 481px até 768px */

/* ////////////////////////////////////////Seção 1:introdução */

header#cabecario

main {
    display: flex;
    position: relative;
}

header#cabecario main div#apres {
    width: 100%;
}

main > div#apres > h1 {
    width: 70%;
    font-size: 240%;
}

main div#apres p {

}

main div#img {
    height: 240px;
    width: 51%;
    border-radius: 100px 100px 40px 40px;
    position: absolute;
    inset: 176px 20px 0px 210px;
}

/* ////////////////////////////////////////Seção 2: Programas */

section#saud div#d1:hover {
    width: 340px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d2:hover {
    width: 340px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d3:hover {
    width: 340px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d4:hover {
    width: 340px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}

 /* //////////////////////////////////////////////Seção 3: Ajuda  */



 /* //////////////////////////////////////////////Seção 5: Menu */

section#heal section#try div.card {
    height: 70vw;
    border-radius: 170px 170px 45px 45px;
}

section#heal section#try div.card > div {
    height: 36vw;
    margin-top: 1vw;
    border-radius: 170px 170px 45px 45px;
}

section#heal section#try div.card > h3 {
    margin-top: -4vw;
    font-size: 3vw;
}

section#heal section#try div.card button {
    height: 11%;
    width: 70%;
    font-size: 14px;
    border-radius: 16px;
    position: relative;
    bottom: 6%;
}


