/* Tablets: 481px até 768px */

/* ////////////////////////////////////////Seção 1:introdução */

header#cabecario

main {
    display: flex;
    position: relative;
}

header#cabecario main div#apres {
    width: 100%;
}

main > div#apres > h1 {
    width: 70%;
    font-size: 240%;
}

main div#apres p {

}

main div#img {
    height: 240px;
    width: 51%;
    border-radius: 100px 100px 40px 40px;
    position: absolute;
    inset: 176px 20px 0px 210px;
}

/* ////////////////////////////////////////Seção 2: Programas */

section#saud div#d1:hover {
    width: 340px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d2:hover {
    width: 340px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d3:hover {
    width: 340px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}
section#saud div#d4:hover {
    width: 340px;
    background-color: var(--cor4);
    border-radius: 30px 30px 0px 0px;
    transition-duration: 0.3s;
    transform: translateY(-50px);
}

 /* //////////////////////////////////////////Seção 3: Ajuda  */

